.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    font-family: "Open Sans", sans-serif; /* Example font */
}

h1 {
    margin-bottom: 20px;
    color: #333;
    font-size: 2rem;
}

.navigation-options {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 300px;
    padding: auto;
}

.nav-option {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid #1a6481;
    border-radius: 5px;
    margin-right: 10px;
    transition:
        background-color 0.3s,
        color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

.nav-option:last-child {
    margin-right: 0;
}

.nav-option:hover {
    background-color: #6c1c7c;
    color: #fff;
}

.logo {
    max-width: 300px; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
    display: block;
    margin: 0 auto 20px;
}


.TitleLogo {
    color: #333; /* Adjust color as per your design */
    text-align: center;
    flex-direction: column;
    margin-bottom: 30px;
    font-size: 26px;
}
